p {
  font-size: 20px;
}

.page-header.top {
  height: 400px;
  color: #fff;
  margin: 0 auto;
  border: none;
}

h1,
.page-heder.top h1 {
  font-size: 55px;
}

.cover-container {
  background-image: url("../images/md_consulting_isle_of_skye.jpg");
  background-position: center center;
  background-size: cover;
  min-height: 50.3875em;
}

.navbar {
  background: transparent;
  border: none;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
  }

.about-section {
  background-color: #292c31;
  min-height: 38.6875em;
  padding: 75px;
  color: #808d99;
}

.do-for-you {
  background-color: #8e1cb2;
  min-height: 38.6875em;
  color: #99D6FF;
  padding: 75px;
}

.about-section h2 {
  color: white;
}

.about-section img {
  padding: 30px;
  max-width: 75%;
  margin-left: 40px;
}

.do-for-you .section-header {
  margin-bottom: 60px;
}

.do-for-you i {
  font-size: 8em;
  color: white;
  margin: 20px auto 40px;
  display: table;
}

.do-for-you h1 {
  color: white;
}

.do-for-you h3 {
  color: white;
  margin-bottom: 40px;
}
.do-for-you > p {
  color: #99d6ff;
}

.past-work {
  background-color: #fff;
  min-height: 38.6875em;
}

.contact {
  background-color: #e8d1ef;
  min-height: 38.6875em;
}

