body {
  font-family: 'PT Sans', Tahoma, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 100;
  line-height: 1.1;
  letter-spacing: 2px;
}

p {
  font-size: 1.25em;
}

ul {
  padding: 0px;
  margin: 20px 0;
}

li {
  list-style-type: none;
  margin: 25px 0 0 10px;
  font-size: 1.2em;
}

.page-header.top {
  height: 400px;
  color: #fff;
  margin: 0 auto;
  padding: 25px 75px 0;
  border: none;
}

h1,
.page-heder.top h1 {
  font-size: 55px;
  font-weight: 100;
}

.cover-container {
  background-image: url("../images/md_consulting_isle_of_skye.jpg");
  background-position: center center;
  background-size: cover;
  min-height: 50.1475em;
}

.navbar {
  background: transparent;
  border: none;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
  }

.navbar-default .navbar-nav > li > a:hover {
    color: #999;
  }

ul.nav.navbar-nav.pull-right {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 100;
  letter-spacing: .7px;
}

.about-section {
  background-color: #292c31;
  min-height: 47.6875em;
  padding: 75px;
  color: #808d99;
}

.about-section h2 {
  color: white;
}

.about-section img {
  padding: 30px;
  max-width: 75%;
  margin-left: 40px;
}

.do-for-you {
  background-color: #8e1cb2;
  min-height: 38.6875em;
  color: #99D6FF;
  padding: 75px;
}

.do-for-you .section-header {
  margin-bottom: 60px;
}

.do-for-you i {
  font-size: 8em;
  color: white;
  margin: 20px auto 40px;
  display: table;
}

.do-for-you h1 {
  color: white;
}

.do-for-you h3 {
  color: white;
  margin-bottom: 40px;
}
.do-for-you > p {
  color: #99d6ff;
}

.past-work {
  background-color: #fff;
  min-height: 38.6875em;
  padding: 75px;
}

.past-work i {
  color: #8e1cb2;
  display: block;
  float:left;
  margin: 5px 10px 0px 0px;
}

.contact_me {
  background-color: #e8d1ef;
  min-height: 38.6875em;
}

